@model FloreriaMvc.Models.Insumo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Insumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadesPorPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadesPorPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoUnitario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InsumoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
