@model IEnumerable<FloreriaMvc.Models.InsumoProducto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadNecesaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadNecesaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insumo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoFinal.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.InsumoProductoId">Edit</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.InsumoProductoId">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.InsumoProductoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
